.primary-btn {
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #0061ff;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  color: white;
  font-size: 18px;
  font-family: IBM Plex Sans;
  font-weight: 600;
  line-height: 28px;
  word-wrap: break-word;
  cursor: pointer;
}
