$color-white: #ffffff;
$color-blue-100: #e6f0ff; // Light blue
$color-blue-200: #b3d1ff; // Slightly darker blue
$color-blue-400: #3385ff; // Medium blue
$color-dark-300: #6f7786; // Disabled text color
$color-dark-400: #3e4149; // Regular text color
$color-red-100: #ffe6e6; // Light red
$color-red-200: #ffb3b3; // Slightly darker red
$color-red-600: #ff3333; // Error red
$color-mint-200: #b3ffe6; // Focus color
